* {
    margin: 0;
    padding: 0;
}

header {
    background: rgb(240, 240, 240);
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    height: 125px;
}
.container > div div,
.container > h3 {
    position: absolute;
}
.search > a > img {
    width: 35px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    background: white;
}
.starbucks_logo {
    top: 25px;
}

.Sign,
.My-Starbucks,
.Customer-Service,
.Find-Store {
    margin-top: 15px;
    top: 0;
}
.My-Starbucks,
.Customer-Service {
    border-left: 1px solid rgb(220, 220, 220);
}
.sub-menu {
    font-size: 12px;
    text-align: center;
    color: rgb(100,100,100);
}
.Sign {
    right: 490px;
}
.My-Starbucks {
    right: 360px;
    width: 110px;
}
.Customer-Service {
    right: 180px;
    width: 180px;
    border-right: 1px solid rgb(220, 220, 220);
}
.Find-Store {
    right: 90px;
}
.search {
    top: 10px;
    right: 30px;
}
.COFFEE,
.MENU,
.STORE,
.RESPONSIBILITY,
.REWARDS,
.NEW {
    TOP: 70px;
}
.main-menu {
    font-size: 14px;
    font-weight: 500;
}
.COFFEE {
    right: 640px;
}
.MENU {
    right: 560px;
}
.STORE {
    right: 480px;
}
.RESPONSIBILITY {
    right: 340px;
}
.REWARDS {
    right: 145px;
}
.NEW {
    right: 0;
}